
<!DOCTYPE html>
    <head>
        <title>Prep Buddy</title>
        <link rel = "stylesheet" href = "..\static\styles\index_page.css">
    </head>
    <body>
        <div class = 'container'>
            <a class = "main_title" href = "http://localhost:5000" style="text-decoration: none;">Prep Buddy</a><br>
            <div class = "select_box">
                <a href = "/syllabus" class = "button button1 first">Syllabus Summarizer</a>
                <a href = "/notes" class = "button button1 second">Notes Viewer</a>
                <a href = "/chatbot" class = "button button1 third">Chatbot</a>
            </div>
        </div>
    </body>
</html>