<!DOCTYPE html>
<head>
    <title>Prep Buddy - Notes Viewer</title>
    <link rel = "stylesheet" href = "..\static\styles\index_page.css">
</head>
<body>
    <div class = 'container'>
        <a class = "main_title" href = "http://localhost:5000" style="text-decoration: none;">Prep Buddy</a><br>
        <div class = "select_box">
            <a class = "button button1 first" href = "/full_notes">View Entire Notes</a>
            <a class = "button button1 second" href = "/smart_notes">Smart Notes Viewer</a>
        </div>
    </div>
</body>
</html>